/* body {
    background-color:slategray;
}

header {
    background-color:darkgreen;
    color:midnightblue;
    text-align:center;
}

li {
    display:contents;
    border:black 20px;
    background-color:midnightblue;
    padding: 10px;
    margin: 50px;
}

#GTR {
    width: 300px;
}

.Porsche911GT3 {
    width: 300px;
}

.blue {
    color: blue;
}

section {
    border:teal 2px;
    padding: 5px;
    margin: 5px;
    text-align: center;
}  */